name: Clang Format

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
  clang-format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install clang-format
        run: sudo apt-get install -y clang-format

      - name: Run clang-format
        run: |
          FORMAT_DIFF=$(clang-format --dry-run --Werror $(git ls-files '*.hpp' '*.cpp') 2>&1)
          if [[ -n "$FORMAT_DIFF" ]]; then
            echo "$FORMAT_DIFF"
            echo "❌ Code is not formatted!"
            exit 1
          fi
          echo "✔ Code formatted correctly."
